body {
font: 76% Tahoma,Verdana,Arial,sans-serif;
line-height: 1.5em;
text-align: center;
color: #303030;
background: #e8eaec;
}

img[Attributes Style] {
width: 150px;
}


#container {
width: 760px;
margin: 20px auto;
padding: 1px 0;
text-align: left;
background: #ffffff;
color: #303030;
border: 2px solid #a0a0a0;
}

* {
margin: 0;
padding: 0;
}

#header {
height: 110px;
width: 758px;
margin: 0 1px 1px 1px;
background: #006666;
color: #ffffff;
}

#header h1 {
padding: 35px 0 0 20px;
font-size: 2.4em;
background-color: inherit;
color: #ffffff;
letter-spacing: -2px;
font-weight: normal;
}


#header h2 {
margin: 10px 0 0 40px;
font-size: 1.4em;
background-color: inherit;
color: #f0f2f4;
letter-spacing: -1px;
font-weight: normal;
}

#navigation {
height: 3.0em;
line-height: 3.0em;
width: 758px;
margin: 0 1px;
background: #006666;
color: #006666;
padding-right: 0px;
padding-top: 1px;
}


#navigation li {
float: left;
list-style-type: none;
border-right: 1px solid #ffffff;
white-space: nowrap;
}

#navigation li a {
display: block;
padding: 0 10px;
font-size: 0.8em;
font-weight: normal;
text-transform: uppercase;
text-decoration: none;
background-color: inherit;
color: #ffffff;

}

#navigation .selected, #navigation a:hover {
background: #009999;
color: #ffffff;
text-decoration: none;
}

li {
display: list-item;
text-align: -webkit-match-parent;
}
ul {
	margin-top: 0px;
}

#content {
float: left;
width: 530px;
padding: 20px 0 0 20px;
font-size: 1.1em;
}

#subcontent {
float: right;
width: 170px;
padding: 20px 20px 10px 0;
line-height: 1.4em;
}


#footer {
clear: both;
width: 758px;
padding: 5px 0;
margin: 0 1px;
font-size: 0.9em;
color: #f0f0f0;
background: #006666;
}


